
#img1{
display: block;
width: 50%;
height: 50; 
margin-left: auto;
margin-right: auto;
}
@media(max-width:600px ){
    #img1{
        width: 70; 
    }
}
#title{

    text-align: center;
    color: rgb(68, 57, 100);
}
#fig1{
    font: bold;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: large;
}
body{
    
    background-color: #E6F0FA;
}
p{
   
    font-size: large;
    font-style: italic;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(68, 57, 100);
    text-align: center;
}
p:hover{
    background-color: #ffffff;
}
h3{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: rgb(29, 11, 83);
    text-align: center;
    
}
#icon1{
    width: 2%;
}
#icon2{
    width: 2%;
    
    
}
#icon3{
width: 2%;
}
#section2{
    text-align: center;

    
}

button{

    text-align: center;
    background-color: rgb(18, 7, 66);
    color: #E6F0FA;
    padding: 10px;
    border-radius: 10px;
    
}

footer {
  background-color: #bbabe7;
  padding: 20px;

}
a{
    padding: 5px;
}

